name: publish

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: write

jobs:
  build-go:
    strategy:
      fail-fast: false
      matrix:
        platform: [macos-latest, ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: "^1.25.0"

      - name: Compile ollamatui
        run: |
          go build -o ./ollamatui-${{ matrix.platform }} 

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            ./ollamatui-${{ matrix.platform }}
